{{>head}}
{{>navigation}}
<div id="dw" class="text-center w-25 container mt-5">
    <div class="shadow p-3  bg-body rounded">
        <main class="form-signin">
            <form action="/signup" method="post">
                <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
                {{#each errorMessage}}
                <div class="alert alert-danger alert-dismissible fade show fs-6" role="alert">
                    <p>{{this}}</p>
                </div>
                {{/each}}
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Name" name="name" required>
                    <label for="floatingName">Name</label>
                </div>
                <div class="form-floating mt-2">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                        name="email" required>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mt-2">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        name="password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mt-2 mb-3">
                    <input type="password" class="form-control" id="floatingconfirmPassword" placeholder="Confirm Password"
                        name="confirmPassword" required>
                    <label for="floatingconfirmPassword">Confirm Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <p class="mt-3 mb-3 text-muted">© 2023</p>
            </form>
        </main>
    </div>
</div>
<script src="devicewidth.js"></script>
{{>end}}