{{>head}}
{{>navigation}}
<div class="text-center mt-5">
    <h3>Change Password Page</h3>
    <hr>
</div>
<div id="dw" class="text-end w-25 container mt-5">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <a class="btn btn-primary btn-sm" href="/profile" role="button">Back</a>
        <main class="form-signin">
            <form action="/changepassword" method="post">
                {{#if errorMessage}}
                <div class="alert alert-danger alert-dismissible fade show fs-6" role="alert">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}
                <div class="form-floating mt-2">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        name="newPassword" required>
                    <label for="floatingPassword">New Password</label>
                </div>
                <div class="form-floating mt-2">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        name="confirmPassword" required>
                    <label for="floatingPassword">Confirm Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Update</button>
            </form>
        </main>
    </div>
</div>
<script src="devicewidth.js"></script>
{{>end}}