{{>head}}
{{>navigation}}
<div class="shadow p-3 mb-5 bg-body rounded mt-5">
    {{#if successMessage}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>congratulations!</strong>{{successMessage}}
    </div>
    {{/if}}
    <img src="profile.png" alt="loading..." width="100" height="100">
    <h6>welcome, {{username}}</h6>
    <p>Email : {{useremail}}</p>
    <div class="mb-2">
        <a class="text-decoration-none" href="/changepassword">Change Password</a>
    </div>
</div>
{{>end}}